In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
## packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
#import simplejson as json

In [6]:
review_df = pd.read_csv("/content/drive/My Drive/Colab Notebooks/ratings.csv")

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [7]:
review_df.head()

  Unnamed: 0  ...                                               text
0          0  ...  Total bill for this horrible service? Over $8G...
1          1  ...  I *adore* Travis at the Hard Rock's new Kelly ...
2          2  ...  I have to say that this office really has it t...
3          3  ...  Went in for a lunch. Steak sandwich was delici...
4          4  ...  Today was my second out of three sessions I ha...

[5 rows x 10 columns]

In [0]:
# read in data
business_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/Business.csv')

In [18]:
business_df.head()

   Unnamed: 0  ...                                           category
0           1  ...                               Restaurants, Italian
1           2  ...  Mexican, Restaurants, Patisserie/Cake Shop, Fo...
2           3  ...                                     Bakeries, Food
3           4  ...  Juice Bars & Smoothies, Food, Restaurants, Fas...
4           5  ...  Restaurants, Nightlife, Breakfast & Brunch, Ve...

[5 rows x 12 columns]

In [21]:
business_df['city'].unique()

array(['Las Vegas', 'Toronto'], dtype=object)

In [0]:
#selecting only active users i.e who have given more than 5 rating

user_counts = review_df["user_id"].value_counts()
active_users = user_counts.loc[user_counts > 5].index.tolist()
active_ = pd.DataFrame({"user_id": active_users})
review=pd.merge(review_df,active_,on='user_id')

In [15]:
review.shape

(3486292, 10)

In [16]:
review.head()

  Unnamed: 0  ...                                               text
0          0  ...  Total bill for this horrible service? Over $8G...
1      94158  ...  Unable to get their over the air signal. So wh...
2     272304  ...  6 plus hours in the ER on a Tuesday Morning gr...
3     308960  ...  I'll give it a 2 because it is still a WM with...
4    3679710  ...  Not a huge selection but what they do have is ...

[5 rows x 10 columns]

In [0]:
# get all unique b id
business_id_ls = business_df.business_id.unique()

In [24]:
# keep only b_id in b_id ls
review_idx = [i for i in range(review.shape[0]) if review.business_id[i] in business_id_ls]

len(review_idx)

947066

In [0]:
review = review.iloc[review_idx,:]

In [0]:
review = review.drop(columns=['Unnamed: 0'])

In [27]:
review.head()

                   user_id  ...                                               text
4   hG7b0MtEbXx5QzbzE6C_VA  ...  Not a huge selection but what they do have is ...
6   hG7b0MtEbXx5QzbzE6C_VA  ...  If you are a grown man, you will leave hungry ...
7   hG7b0MtEbXx5QzbzE6C_VA  ...  Usually out of at least 20% of the items I nee...
8   hG7b0MtEbXx5QzbzE6C_VA  ...  FE has gone from being a food store to a quasi...
11  jlu4CztcSxrKx56ba1a5AQ  ...  O'Noir was an awesome dining experience. I hav...

[5 rows x 9 columns]

In [0]:
review.index = range(review.shape[0])

In [0]:
yr_ls = [eval(x.split('-')[0]) for x in review.date]
review['year'] = yr_ls

In [31]:
review.head()

                  user_id  ...  year
0  hG7b0MtEbXx5QzbzE6C_VA  ...  2012
1  hG7b0MtEbXx5QzbzE6C_VA  ...  2008
2  hG7b0MtEbXx5QzbzE6C_VA  ...  2016
3  hG7b0MtEbXx5QzbzE6C_VA  ...  2014
4  jlu4CztcSxrKx56ba1a5AQ  ...  2015

[5 rows x 10 columns]

In [0]:
# write csv
review.to_csv('ratings1.csv')

In [0]:
!pip install -U -q PyDrive

In [34]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
# This only needs to be done once in a notebook.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)
# Create & upload a file.
uploaded = drive.CreateFile({'title': 'ratings1.csv'})
uploaded.SetContentFile('ratings1.csv')
uploaded.Upload()
print('Uploaded file with ID {}'.format(uploaded.get('id')))

Uploaded file with ID 1ihNebEcEM9vU5CQzVLou1PTNZwzRZd3P